@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }

  p{
    line-height: 1.5;
  }

  #container {
    border: 0;
    max-width: 320px;
    margin: 0;
    padding: 0;
  }

  nav{
    max-width: 305px;
    min-width: 0px;
    letter-spacing: 0px;
    margin-left: 0px;
  }

  nav li{
    font-size: 10px;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    width: 68px;
  }

  section{
    margin-bottom: 20px;
    padding: 0px 10px;
    border: 3px solid #E8E8E8;
    max-width: 280px;
  }

  #blacktee, #bluetee, #pinktee, #yellowtee, #blackhat, #whitehat{
    padding-bottom: 10px;
  }

  #blacktee p, #bluetee p, #pinktee p, #yellowtee p, #blackhat p, #whitehat p{
    padding-left: 0px;
    padding-top: 0px;
  }

  header h1 {
    font-size: 35px;
    max-width: 300px;
  }

  h2{
    font-size: 25px;
  }

  h3{
    font-size: 17px;
  }

  header span {
    display: inline;
  }

  img {
    width: 280px;
    height: auto;
  }
}
