@media (max-width: 320px) {
/*
  A mobile design is going to start with an @media query, which
  sets a condition - - in this case, max-width can be no bigger
  than 320px (the size of an iPhone 5).
*/

  body {
    font-family: sans-serif;
    font-size: 24px;
  }

  /*
    Whenever we write rules, for our mobile design, we are over-
    writing rules which appear in the stylesheet for our web
    version. In this case, we want to increase our font size to
    24px (in the screen.css, the font-size set on body is 16px).
  */

  /*
    If a rule does not need to be changed from the screen to
    mobile (i.e. we want the text color to remain the same),
    you do not need to re-write the rule in your mobile style
    sheet. The property will be inherited from the screen.css.
  */

  /*
    When you overwrite rules, you must be overwriting the exact
    property. For instance, if in screen.css you set an element's
    margin as such:
    margin-left: 10px;
    You cannot overwrite the property so using:
    margin: 0 0 0 0;
  */

  p, address {
    line-height: 1.5;
  }

  #wrapper {
    border: 0;
    max-width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  header h1 {
    font-size: 125%;
    line-height: 1.5;
  }

  header span {
    display: inline;
  }

  img.mobile {
    width: 24px;
    height: auto;
    vertical-align: middle;
  }

  #video {
    display: none;
  }

  footer p {
    display: none;
  }

  footer a[href^="tel"] {
    display: block;
  }
}
