@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }

  p{
    line-height: 1.5;
  }

  #container {
    max-width: 320px;
    min-width: 0px;
    border: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  nav{
    width: 100%;
    min-width: 0px;
    letter-spacing: 0px;
    margin-left: 0px;
  }

  nav li{
    font-size: 10px;
    display: inline-block;
    padding: 5px 0px;
    text-align: center;
    width: 22.5%;
  }

  section{
    -webkit-box-sizing: border-box;
    /*found this online to include padding/margin into the max width*/
    max-width: 320px;
    width: 100%;
    border: 1px solid #E8E8E8;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #blacktee, #bluetee, #pinktee, #yellowtee, #blackhat, #whitehat{
    padding-bottom: 0px;
  }

  #blacktee p, #bluetee p, #pinktee p, #yellowtee p, #blackhat p, #whitehat p{
    padding-left: 0px;
    padding-top: 0px;
  }

  header h1 {
    font-size: 45px;
    max-width: 320px;
    padding: 0;
    line-height: .7;
  }

  header{
    position: relative;
    padding: 20px 0px 0px 0px;
  }

  h2{
    font-size: 25px;
  }

  h3{
    font-size: 17px;
  }

  header span {
    display: inline;
  }

  img {
    width: 280px;
    height: auto;
  }
}
