@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body{
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  overflow: auto;
  line-height: 200%;
}

#blacktee, #bluetee, #pinktee, #yellowtee, #blackhat, #whitehat{
  padding-bottom: 55px;
}

#blacktee p, #bluetee p, #pinktee p, #yellowtee p, #blackhat p, #whitehat p{
  padding-left: 230px;
  padding-top: 35px;
}

.blacktee:hover, .bluetee:hover, .pinktee:hover, .yellowtee:hover{
  content: url('../photos/tshirtback.jpg');
}

.blackhat:hover{
  content: url('../photos/blackhatback.jpg');
}

.whitehat:hover{
  content: url('../photos/whitehatback.jpg');
}

#container{
  max-width: 960px;
  min-width: 400px;
  margin: 0 auto;
}

a{
  color: #0099ff;
}

a:hover{
  color: black;
}

h1{
  font-family: 'Cormorant SC', serif;
  font-style: bold 700;
  font-size: 85px;
  margin-top: 0;
}

h2{
  font-size: 35px;
}

img{
  position: relative;
  border: 1px solid #F5F5F5;
  float: left;
  margin-right: 10px;
}

header{
  position: relative;
  padding: 40px 0px 0px 10px;
}

nav{
  max-width: 960px;
  min-width: 750px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: bold 700;
  background-color: #F5F5F5;
  position: relative;
  width: 100%;
  height: auto;
  letter-spacing: 2px;
}

nav ul{
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
}

nav li{
  display: inline-block;
  text-align: center;
  width: 230px;
  padding: 10px 0px;
}

nav a{
  color: #696969;
  text-decoration: none;
}

nav a:hover{
  color: black;
}

main{
  position: relative;
}

section{
  margin-bottom: 20px;
  padding: 0px 30px;
  border: 3px solid #E8E8E8;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow img{
    margin: auto;
    width: 240px;
    height: 240px;
}
